certifi==2020.12.5
chardet==4.0.0
chardet2==2.0.3
configobj==5.0.6
future==0.18.2
idna==2.10
oauth2==1.9.0.post1
PySimpleGUI==4.34.0
PyVimeo==1.1.0
requests==2.25.1
six==1.16.0
tinydb==4.3.0
tuspy==0.2.4
urllib3==1.26.4
